@charset "UTF-8";
--- --- :root {
  --test: #983493;
}

*, html, body {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

html, body {
  width: 100vw;
}

body {
  display: flex;
}

h1 {
  color: #C7FFED;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

p {
  color: #C7FFED;
  font-size: 1.1rem;
  font-family: "Franklin Gothic Light", "Arial Narrow", Arial, sans-serif;
  white-space: wrap;
}

li {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.time span {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.time .no-wrap {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Franklin Gothic Light", "Arial Narrow", Arial, sans-serif;
  white-space: nowrap;
}

#hobby {
  background-color: #01bcb9;
  color: #C7FFED;
}

#personal {
  background-color: #0f0f0f;
}
#personal h1 {
  font-size: 2rem;
}
#personal p {
  margin-bottom: 1rem;
}

#school {
  background-color: #023535;
  color: #C7FFED;
}

#work {
  background-color: #015958;
  color: #C7FFED;
}

#cases {
  background-color: #008F8C;
  color: #C7FFED;
}
#cases .project ul {
  padding: 0;
}
#cases .project ul p {
  margin-top: 0.2rem;
  margin-left: 0.8rem;
  white-space: wrap;
}
#cases .project ul li {
  list-style-type: none;
}
#cases .project ul li .link-group a {
  display: inline;
  margin-right: 30px;
}
#cases .project ul li a {
  display: block;
  color: #C7FFED;
  text-decoration: none;
  font-size: 1.3rem;
  margin-top: -0.7rem;
}
#cases .project ul li a.no-wrap {
  white-space: nowrap;
}
#cases .project ul li a::after {
  content: "⤍";
  font-size: 2rem;
  position: relative;
  top: 0.22rem;
  left: 0.2rem;
}
#cases .project ul li a:hover {
  color: #015958;
}

@media only screen and (min-width: 1000px) {
  html, body {
    font-size: 16px;
  }
  #personal {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem;
  }
  #personal img {
    width: 60%;
  }
  #personal p {
    margin-bottom: 1rem;
  }
  #cv {
    height: 100vh;
    display: flex;
  }
  #cv .topic {
    height: 100%;
    width: 110px;
    display: flex;
    overflow: hidden;
    transition: width 1s ease-in-out;
  }
  #cv .topic .cover {
    width: 110px;
    height: 100vh;
    flex-shrink: 0;
  }
  #cv .topic .cover h1 {
    position: relative;
    top: 75vh;
    font-size: 4rem;
    margin: 0;
    transform: rotate(-90deg);
  }
  #cv .topic section {
    padding-top: 3rem;
  }
  #cv .topic .item {
    margin-top: 1rem;
    margin-left: 10px;
    font-size: 1rem;
  }
  #cv .topic .item .time {
    margin-bottom: 0;
  }
  #cv .topic .item .description {
    margin-top: 0.2rem;
  }
  #cv .topic .item .description p {
    margin-bottom: 0.5rem;
  }
  #cv .topic .project {
    max-height: 70px;
    overflow: hidden;
    width: 40vw;
    transition: max-height 1s ease-in-out;
    padding: 0.5rem 0;
    margin: 0;
    border-top: 1px solid #C7FFED;
  }
  #cv .topic .project:last-child {
    border-bottom: 1px solid #C7FFED;
  }
  #cv .topic .project .time {
    min-height: 60px;
  }
  #cv .topic .project iframe {
    width: 100%;
    height: 40vh;
  }
  #cv .topic .project .description {
    margin-top: 20px;
  }
  #cv .topic .project:hover {
    max-height: 70vh;
    transition: max-height 1s ease-in-out;
  }
  #cv .topic .freetime {
    width: 100%;
  }
  #cv .topic .freetime #images {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 45vw;
    height: 70vh;
    overflow-y: scroll;
    display: flex;
    flex-flow: row;
  }
  #cv .topic .freetime #images img {
    height: 70vh;
    width: auto;
  }
  #cv .topic:hover {
    width: 40vw;
    transition: width 1s ease-in-out;
  }
  #cv #cases:hover {
    width: 50vw;
  }
  #cv #hobby:hover {
    width: 55vw;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1250px) {
  body {
    overflow: hidden;
  }
  #personal {
    padding: 0 10px;
  }
  #personal .info {
    margin: 0 1rem;
  }
  #personal p {
    margin-bottom: 1rem;
  }
  #cv .topic {
    width: 90px;
    flex-shrink: 1;
  }
  #cv .topic .cover {
    width: 90px;
  }
  #cv #cases .project {
    transition: max-height 1s ease-in-out;
    width: 95%;
  }
  #cv #cases .project .time {
    height: fit-content;
  }
  #cv #cases .project .description, #cv #cases .project iframe {
    visibility: hidden;
  }
  #cv #cases .project:hover {
    max-height: 70vh;
    transition: max-height 1s ease-in-out;
  }
  #cv #cases .project:hover .description, #cv #cases .project:hover iframe {
    visibility: visible;
  }
  #cv #cases .wide {
    max-height: 100px;
  }
  #cv #cases:hover {
    width: 55vw;
  }
}
@media all and (max-width: 1000px) {
  body {
    width: 100%;
    display: block;
  }
  #personal {
    width: 100%;
    display: flex;
  }
  #personal img {
    width: 200px;
    height: auto;
    margin: 0.5rem;
  }
  #personal .info {
    margin: 2rem 1rem 1rem;
  }
  #cv {
    display: block;
    width: 100%;
  }
  #cv .topic {
    width: 100%;
    padding-bottom: 2rem;
    display: block;
    overflow: hidden;
  }
  #cv .topic .cover {
    margin: 0 2rem;
  }
  #cv .topic .cover h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }
  #school section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin: 0 2rem;
  }
  #work section {
    display: grid;
    margin: 0 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  #work section .item:first-child {
    grid-column: 1/2;
  }
  #cases {
    width: 100%;
  }
  #cases section {
    margin: 0;
  }
  #cases .project {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
  }
  #cases .project .time {
    margin: 1rem 0;
  }
  #cases .project .time span {
    font-size: 2rem;
  }
  #cases .project:nth-child(even) {
    background-color: #009e9b;
  }
  #cases .project iframe {
    width: 100%;
    height: 400px;
  }
  #cases .project .description {
    margin: 1rem 0;
  }
  #cases .project .description p {
    margin: 0.5rem 0;
  }
  #hobby section {
    margin: 0 2rem 3rem 2rem;
  }
  #hobby section .freetime {
    width: 100%;
    margin-top: 2rem;
  }
  #hobby section .freetime .time {
    margin-bottom: 0;
  }
  #hobby section .freetime .description p {
    margin-top: 0;
  }
  #hobby section .freetime #images {
    margin-top: 1rem;
    width: 100%;
    height: 500px;
    display: flex;
    overflow-x: scroll;
  }
  #hobby section .freetime #images img {
    height: 100%;
    width: auto;
  }
}
@media all and (max-width: 600px) {
  #personal img {
    margin: 0.5rem;
    width: 200px;
    height: auto;
  }
  #personal .info {
    margin: 1rem;
  }
  #cv .item .time {
    margin-bottom: 0;
  }
  #cv .item .description {
    margin-top: 0;
  }
  #school section {
    grid-template-columns: 1fr;
  }
  #work section {
    grid-template-columns: 1fr;
  }
  #work section .item:first-child {
    grid-column: 1/1;
  }
  #cases .project .time {
    margin-bottom: 1rem;
  }
  #cases .project ul li .link-group a {
    display: block;
  }
}
@media all and (max-width: 460px) {
  #personal .info h1 {
    font-weight: 500;
  }
  .time span {
    font-weight: 500;
  }
  #cv .topic .cover {
    margin: 0 1rem;
  }
  #cv .topic .cover h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  #cv #school section, #cv #work section, #cv #hobby section {
    margin: 0 1rem;
  }
  #cv #cases .project {
    padding: 1rem 1rem;
  }
}/*# sourceMappingURL=index.css.map */