---
---

//start content below
* {
    color:darkcyan;
    box-sizing: border-box;
}

#artwork {
    width: 100vw;
    height: 100vh;
    div {
        width: 100%;
        height: 50%;
        background-color: rgb(random(255), random(255), random(255));
    }
}