---
---

//start content below

//Color palate
:root {
    --test: #983493;
}

$main-background-color: #0f0f0f;
$background-color1: #023535;
$background-color2: #015958;
$background-color3: #008F8C;
$background-color4: #009e9b;
$background-color5: #01bcb9;
$main-color: #C7FFED;
$secondary-color: #015958;

*, html, body {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
}

html, body {
    width: 100vw;
}

body {
    display: flex;
}

h1 {
    color: $main-color;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

p {
    color: $main-color;
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    white-space: wrap;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.time {
    span {
        font-family:'Courier New', Courier, monospace;
        font-weight: 700;
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }

    .no-wrap {
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
        white-space: nowrap;
    }
}

#hobby {
    background-color: $background-color5;
    color: $main-color;
}

#personal {
    background-color: $main-background-color;
    h1 {
        font-size: 2rem;
    }

    p {
        margin-bottom: 1rem;
    }
}

#school {
    background-color: $background-color1;
    color: $main-color;
}

#work {
    background-color: $background-color2;
    color: $main-color;
}

#cases {
    background-color: $background-color3;
    color: $main-color;

    .project {

        ul {
            padding: 0;
            
            p {
                margin-top: 0.2rem;
                margin-left: 0.8rem;
                white-space: wrap;
            }

            li {
                list-style-type: none;
                .link-group {
                    a {
                        display: inline;
                        margin-right: 30px;
                    }
                }

                a {
                    display: block;
                    color: $main-color;
                    text-decoration: none;
                    font-size: 1.3rem;
                    margin-top: -0.7rem;

                    &.no-wrap {
                        white-space: nowrap;
                    }

                    &::after {
                        content:'\290D';
                        font-size: 2rem;
                        position: relative;
                        top: 0.22rem;
                        left: 0.2rem;
                    }

                    &:hover {
                        color:$secondary-color;
                    }
                }
            }              
        }
    }
}






@media only screen and (min-width: 1000px){
    html, body {
        font-size: 16px;
    }
    #personal {
        width: 300px;
        height: 100vh;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 2rem;
        
        img {
            width: 60%;
        }

        p {
            margin-bottom: 1rem;
        }
    }

    #cv {
        height: 100vh;
        display: flex;

        .topic {
            height: 100%;
            width: 110px;
            display: flex;
            overflow: hidden;
            transition: width 1s ease-in-out;

            .cover {
                width:110px;
                height: 100vh;
                flex-shrink: 0;
                h1 {
                    position: relative;
                    top: 75vh;
                    font-size: 4rem;
                    margin: 0;
                    transform: rotate(-90deg);
                }
            }

            section {
                padding-top: 3rem;
            }

            .item {
                margin-top: 1rem;
                margin-left: 10px;
                font-size: 1rem;
                
                .time {
                    margin-bottom: 0;
                }


                .description {
                    margin-top: 0.2rem;
                    
                    p {
                        margin-bottom: 0.5rem;
                    }
                }
            }

            .project {
                max-height: 70px;
                overflow: hidden;
                width: 40vw;
                transition: max-height 1s ease-in-out;
                padding: 0.5rem 0;
                margin: 0;

                border-top: 1px solid $main-color;

                &:last-child {
                    border-bottom: 1px solid $main-color;
                }

                .time {
                    min-height: 60px;
                }

                iframe {
                    width: 100%;
                    height: 40vh;
                }

                .description {
                    margin-top: 20px;
                }

                

                &:hover {
                    max-height: 70vh;
                    transition: max-height 1s ease-in-out;
                }
            }

            .freetime {
                width: 100%;
                #images {
                    margin-top: 1rem;
                    margin-right: 1rem;
                    width: 45vw;
                    height: 70vh;
                    overflow-y: scroll;
                    display: flex;
                    flex-flow: row;

                    img {
                        height: 70vh;
                        width: auto;
                    }
                }
            }

            &:hover {
                width: 40vw;
                transition: width 1s ease-in-out;
            }


        }

        #cases {
            &:hover {
                width: 50vw;
            }
        }

        #hobby {
            &:hover {
                width: 55vw;
            }
        }
    }

}


@media only screen and (min-width: 1000px) and (max-width:1250px){
    body{
        overflow: hidden;
    }
    #personal {
        padding: 0 10px;
        .info {
            margin: 0 1rem;
        }

        p {
            margin-bottom: 1rem;
        }
    }

    #cv {
        .topic {
            width: 90px;
            flex-shrink: 1;
            .cover {
                width: 90px;
            }
        }

        #cases {
            .project {
                transition: max-height 1s ease-in-out;
                width: 95%;
                .time {
                    height: fit-content;
                }

                .description, iframe {
                    visibility: hidden;
                }

                &:hover {
                    max-height: 70vh;
                    transition: max-height 1s ease-in-out;
                    .description, iframe {
                        visibility: visible;
                    }
                }
            }

            .wide {
                max-height: 100px;
            }

            &:hover {
                width: 55vw;
            }
        }
    }
    
}

@media all and (max-width: 1000px) {
    body {
        width: 100%;
        display: block;
    }

    #personal {
        width: 100%;
        display: flex;

        img {
            width:200px;
            height: auto;
            margin: 0.5rem;
        }

        .info {
            margin:2rem 1rem 1rem;
        }
    }

    #cv {
        display: block;
        width: 100%;

        .topic {
            width: 100%;
            padding-bottom: 2rem;
            display: block;
            overflow: hidden;

            .cover {
                margin: 0 2rem;
                h1 {
                    font-size: 3rem;
                    margin: 1rem 0;
                }
            }
        }
    }

    #school {
        section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 1rem;
            margin: 0 2rem;
        }
    }

    #work {
        section {
            display: grid;
            margin: 0 2rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1rem;

            .item:first-child {
                grid-column: 1 / 2;
            }
        }
    }

    #cases {
        width: 100%;

        section {
            margin: 0;
        }

        .project {
            margin-bottom: 2rem;
            padding: 1rem 2rem;

            .time {
                margin: 1rem 0;
                span{
                    font-size: 2rem;
                }
            }

            &:nth-child(even) {
                background-color: $background-color4;
            }

            iframe {
                width: 100%;
                height: 400px;
            }

            .description {
                margin: 1rem 0;

                p {
                    margin: 0.5rem 0;
                }
            }
        }
    }

    #hobby {
        section {
            margin: 0 2rem 3rem 2rem;
            .freetime {
                width: 100%;
                margin-top: 2rem;

                .time {
                    margin-bottom:0;
                }

                .description {
                    p {
                        margin-top: 0;
                    }
                }
            
                #images {
                    margin-top: 1rem;
                    width: 100%;
                    height: 500px;
                    display: flex;
                    overflow-x: scroll;


                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
    }

}

@media all  and (min-width:601px) and (max-width: 760px) {
}

//@media only screen and (min-width: 50px) and (max-width: 600px) {
@media all and (max-width: 600px){
    #personal {
        img {
            margin: 0.5rem;
            width: 200px;
            height: auto;
        }

        .info {
            margin: 1rem;
        }
    }

    #cv {
        .item {
                .time{
                    margin-bottom: 0;
                }
                .description {
                    margin-top: 0;
                }
            }
    }

    #school {
        section {
            grid-template-columns: 1fr;
        }
    }

    #work {
        section {
            grid-template-columns: 1fr;

            .item:first-child {
                grid-column: 1/1;
            }
        }
    }

    #cases {
        .project {
            .time {
                margin-bottom: 1rem;
            }

            ul {
                li {
                    .link-group {
                        a {
                            display: block;
                        }
                    }
                }
            }
        }
        
    }
}

@media all and (max-width: 460px) {
    #personal {
        .info {
            h1 {
                font-weight: 500;
            }
        }
    }
    .time {
        span {
            font-weight: 500;
        }
    }
    #cv {
        .topic {
            .cover {
                margin: 0 1rem;
                h1 {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
            }
        }

        #school, #work, #hobby {
            section {
                margin: 0 1rem;
            }
        }

        #cases {
            .project {
                padding: 1rem 1rem;
            }
        }


    }
}

